{% extends "../layout.html" %}
{% block title %}{{ config.server_name }} Configuration{% endblock %}

{% block content %}
<h1>{{ config.server_name }} Configuration</h1>
<form action="/server-config" method="post">
  <p>YourSway Builder server name: <input type="text" name="server_name" value="{{ config.server_name }}">.</p>
  <p>Builders should poll every <input type="text" name="builder_poll_interval" value="{{ config.builder_poll_interval }}" size="5"> seconds.</p>
  <p>Builders are considered offline after <input type="text" name="builder_offline_after" value="{{ config.builder_offline_after }}" size="5"> seconds without polls.</p>
  <p>Show builders that have been online within <input type="text" name="builder_is_recent_within" value="{{ config.builder_is_recent_within }}" size="7"> seconds.</p>
  <p>Show details of <input type="text" name="num_latest_builds" value="{{ config.num_latest_builds }}" size="5"> latest builds on the project page. Additionally, show summary of <input type="text" name="num_recent_builds" value="{{ config.num_recent_builds }}" size="5"> more builds.</p>

  <p>
	<input type="submit" value="Save Configuration">
	{% if config.is_saved %}
		or <input type="submit" name="delete" value="Delete Configuration">
	{% endif %}
  </p>
</form>
{% endblock %}
