{% extends "../layout.html" %}

{% block title %}Build {{ build.version }} of {{ project.name }}{% endblock %}

{% block head %}
<script src="/javascript/ajax.js"></script>
{% endblock %}

{% block content %}

<h1>Build <span style="color: {{build.state_color}}">{{ build.version }}</span>{% ifequal build.state_name 'inprogress' %} <span style="">(in progress){% endifequal %}{% ifequal build.state_name 'queued' %} <span style="">(waiting for builder){% endifequal %}{% ifequal build.state_name 'abandoned' %} <span style="">(never finished){% endifequal %}{% ifequal build.state_name 'aborted' %} <span style="">(aborted){% endifequal %} of {{ project.name }}</h1>       

<p><a class="nav" href="/projects/{{ project.urlname }}">« Go back to the project</a></p>

{% include '_build_state.html' %}

{% ifequal build.state_name 'failed' %}
  <p>Error:</p>
  <pre style="font: smaller;">{{ build.failure_reason}}</pre>
{% endifequal %}

{% include '_build_progress.html' %}
{% include '_build_downloads.html' %}
{% include '_build_overrides.html' %}

<h2>Raw report</h2>
<pre><small>{{ build.report }}</small></pre>

{% endblock %}
