{% extends "../layout.html" %}

{% block title %}Build {{ build.version }} of {{ project.name }}{% endblock %}

{% block content %}

<h1>Build {{ build.version }} of {{ project.name }}</h1>       

<p><a class="nav" href="/projects/{{ project.urlname }}">« Go back to the project</a></p>

<p><i>{{ build.since_start|revtimedelta }}</i> on {{ build.created_at|date }} — {{ build.created_by.nickname }} — builder {{ build.builder.name }}.</p>

{% if build.stores %}
  <dl>
  {% for store in build.stores %}
    <dt>Download from <b>{{ store.description }}</b>:</dt>
    {% for item in store.items %}
      <dd>
        {% if item.url_location %}
          <a href="{{ item.url_location.path }}"><b>{{ item.description }}</b></a>
        {% else %}
          <b>{{ item.description}}</b>
        {% endif %}
        {% for location in item.other_locations %}
          <div style="font-size: smaller; margin-left: 20px;">{{ location.path }}</div>
        {% endfor %}
      </dd>
    {% endfor %}
  {% endfor %}
  </dl>
{% endif %}

<h2>Raw report</h2>
<pre><small>{{ build.report }}</small></pre>

{% endblock %}
