{% extends "../layout.html" %}

{% block title %}Project{% endblock %}

{% block content %}

{% if edit %}
<h1>Edit Project</h1>
{% else %}
<h1>Create Project</h1>
{% endif %}

<form action="{% if edit %}/projects/{{ project.urlname }}/edit{% else %}/projects/create{% endif %}" method="post">
  <p>Name: <input type="text" name="project_name" size="60" value="{{ project.name }}"></p>
  {% if errors.name %}<div class="error">Error: {{ errors.name }}</div>{% endif %}
{% if edit %}
  <p><input type="submit" value="Save Changes"> or <a class="nav" href="/projects/{{ project.urlname }}">Cancel</a></p>
{% else %}
  <p><input type="submit" value="Create Project"> or <a class="nav" href="/projects">Cancel</a></p>
{% endif %}
</form>

{% endblock %}
