{% extends "../layout.html" %}

{% block title %}Project{% endblock %}

{% block content %}

{% if edit %}
<h1>Edit Project</h1>
{% else %}
<h1>Create Project</h1>
{% endif %}

<form action="{% if edit %}/projects/{{ project.urlname }}/edit{% else %}/projects/create{% endif %}" method="post">
  <p>Name (user-friendly):<br>
  <input type="text" name="project_name" size="60" value="{{ project.name }}"></p>
  {% if errors.name %}<div class="error">Error: {{ errors.name }}</div>{% endif %}
  <p>Permalink (url and filesystem-friendly):<br>
  <input type="text" name="project_permalink" size="60" value="{{ project.permalink }}"></p>
  {% if errors.permalink %}<div class="error">Error: {{ errors.permalink }}</div>{% endif %}

  <p>Script:<br>
  <textarea name="project_script" cols="60" rows="20">{{ project.script }}</textarea>
  </p>
  {% if errors.script %}<div class="error">Error: {{ errors.script }}</div>{% endif %}
{% if edit %}
  <p><input type="submit" value="Save Changes"> or <a class="nav" href="/projects/{{ project.urlname }}">Cancel</a></p>
{% else %}
  <p><input type="submit" value="Create Project"> or <a class="nav" href="/projects">Cancel</a></p>
{% endif %}
</form>

{% if edit %}
<hr>
<h2>Delete project?</h2>
<form action="/projects/{{ project.urlname }}/delete" method="post">
<p><input type="checkbox" id="confirm_deletion" name="confirm" value="1"><label for="confirm_deletion"> I understand this is irreversible</label></p>
<p><input type="submit" value="Delete this project"></p>
</form>
{% endif %}
{% endblock %}
