{% extends "../layout.html" %}

{% block title %}Project {{ project.name }}{% endblock %}

{% block content %}

<h1>Project: {{ project.name }}</h1>       

<p><a class="nav" href="/projects">« Go back to the list of projects</a> | <a class="nav" href="/projects/{{ project.urlname }}/edit">Edit this project</a></p>

<h2>New build?</h2>
<form action="/projects/{{ project.urlname }}/build" method="post">
<p><label for="version">Version: </label><input type="text" id="version" name="version" value="{{ next_version }}"></p>
<p><label for="builder">Builder: </label>
	<select type="text" id="builder" name="builder" value="">
		{% for builder in builders %}
		<option value="{{ builder.name }}">{{ builder.name }}</option>
		{% endfor %}
	</select>
</p>

<p><input type="submit" value="Start building"></p>
</form>

{% if online_builders %}
	<h2>Builders</h2>
	{% for builder in online_builders %}
	<p>– “{{ builder.name }}” is <span style="color: green">online</span> (last ping {{ builder.since_last_check|revtimedelta }}){% if builder.message_count %} — <b>{{ builder.message_count }} outstanding message(s)</b>{% endif %}</p>
	{% endfor %}
{% else %}
	<h2>No online builders</h2>
	<p>No builders are currently online.</p>
{% endif %}
{% if recent_builders %}
	<p>Recently went offline:</p>
	{% for builder in recent_builders %}
	<p>– “{{ builder.name }}” is <span style="color: red">offline</span> (last ping {{ builder.since_last_check|revtimedelta }}){% if builder.message_count %} — <b>{{ builder.message_count }} outstanding message(s)</b>{% endif %}</p>
	{% endfor %}
{% endif %}

<h2>Last 10 builds</h2>
{% if not builds %}
<p>No builds yet — hit Build to make the first one!</p>
{% endif %}
{% for build in builds %}
<h3>{{ build.version }}</h3>
<p>Build started at {{ build.created_at }} by {{ build.created_by.nickname }}.</p>
{% endfor %}

{% endblock %}
