{% extends "../layout.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block head %}
<script src="/javascript/ajax.js"></script>
{% endblock %}

{% block content %}

<h1>{{ project.name }}</h1>       

<p><a class="nav" href="/projects">« Go back to the list of projects</a>{% if at_least_admin %} | <a class="nav" href="/projects/{{ project.urlname }}/edit">Edit this project</a>{% endif %}</p>

{% if at_least_normal %}
  <h2>New build?</h2>
	<blockquote style="border-left: 15px solid black; margin-left: 0px; padding-left: 20px;">
	  <form action="/projects/{{ project.urlname }}/build" method="post">
	  <p><label for="version">Version: </label><input type="text" id="version" name="version" value="{{ next_version }}"></p>
	  <p><label for="builder">Builder: </label>
	  	<select type="text" id="builder" name="builder" value="">
	  		{% for builder in builders %}
	  		<option value="{{ builder.name }}" {% ifequal last_used_builder.key builder.key %}selected="selected"{% endifequal %}>{{ builder.name }}</option>
	  		{% endfor %}
	  	</select>
	  </p>

		{% if project.script_info.alternable_repositories %}
			<p>
			<table>
			<caption>Choose the repositories to use:</caption>
			{% for repos in project.script_info.alternable_repositories %}
			<tr>
				<td>{{ repos.descr }}</td>
				<td><select name="location_{{ repos.name }}">
					{% for location in repos.locations %}
						<option value="{{ location.name }}" {% ifequal repos.chosen_one location.name %}selected="selected"{% endifequal %}>{{ location.name }}</option>
					{% endfor %}
				</select></td>
			</tr>
			{% endfor %}
			</table>
		{% endif %}

	  <p><input type="submit" value="Start building"></p>
	  </form>
	</blockquote>

  {% if online_builders %}
  	<h2>Builders</h2>
  	{% for builder in online_builders %}
  	<p>– “{{ builder.name }}” is <span style="color: green">online</span> (last ping {{ builder.since_last_check|revtimedelta }}){% if builder.message_count %} — <b>{{ builder.message_count }} outstanding message(s)</b>{% endif %}</p>
  	{% endfor %}
  {% else %}
  	<h2>No online builders</h2>
  	<p>No builders are currently online.</p>
  {% endif %}
  {% if recent_builders %}
  	<p>Recently went offline:</p>
  	{% for builder in recent_builders %}
  	<p>– “{{ builder.name }}” is <span style="color: red">offline</span> (last ping {{ builder.since_last_check|revtimedelta }}){% if builder.message_count %} — <b>{{ builder.message_count }} outstanding message(s)</b>{% endif %}</p>
  	{% endfor %}
  {% endif %}
{% endif %}

<h2>Last {{ num_latest_builds }} builds</h2>
{% if not latest_builds %}
<p>No builds yet — hit Build to make the first one!</p>
{% endif %}
{% for build in latest_builds %}
<h3><a href="/projects/{{ project.urlname }}/builds/{{ build.urlname }}"><span style="color: {{build.state_color}}">{{ build.version }}</span></a>{% ifequal build.state_name 'inprogress' %} <span style="">(in progress){% endifequal %}{% ifequal build.state_name 'queued' %} <span style="">(waiting for builder){% endifequal %}{% ifequal build.state_name 'abandoned' %} <span style="">(never finished){% endifequal %}{% ifequal build.state_name 'aborted' %} <span style="">(aborted){% endifequal %}</h3>
	
{% include '_build_state.html' %}
	
  {% ifequal build.state_name 'failed' %}
    {% if forloop.first %}
      <p>Error:</p>
      <pre style="font: smaller;">{{ build.failure_reason}}</pre>
    {% else %}
      <p>Error summary: {{ build.failure_reason_summary }}</p>
    {% endif %}
  {% endifequal %}

{% include '_build_progress.html' %}
{% include '_build_downloads.html' %}
{% include '_build_overrides.html' %}

{% endfor %}

{% if successful_builds %}
<h2>{{ num_successful }} latest successful builds</h2>
<table border="1" style="border-collapse: collapse;" cellspacing="0" cellpadding="4">
  <tr>
    <th>Version</th>
    <th colspan="2">Date</th>
    <th>Initiated by</th>
    <th>Builder</th>
  </tr>
  {% for build in successful_builds %}
    <tr>
      <td><a href="/projects/{{ project.urlname }}/builds/{{ build.urlname }}"><span style="color: {{build.state_color}}">{{ build.version }}</span></a></td>
      <td>{{ build.since_start|revtimedelta }}</td>
      <td>{{ build.created_at|date }}</td>
      <td>{{ build.created_by.nickname }}</td>
      <td>{{ build.builder.name }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% if recent_builds %}
<h2>{{ num_recent_builds }} latest unsuccessful builds</h2>
<table border="1" style="border-collapse: collapse;" cellspacing="0" cellpadding="4">
  <tr>
    <th>Version</th>
    <th colspan="2">Date</th>
    <th>Initiated by</th>
    <th>Builder</th>
  </tr>
  {% for build in recent_builds %}
    <tr>
      <td><a href="/projects/{{ project.urlname }}/builds/{{ build.urlname }}"><span style="color: {{build.state_color}}">{{ build.version }}</span></a></td>
      <td>{{ build.since_start|revtimedelta }}</td>
      <td>{{ build.created_at|date }}</td>
      <td>{{ build.created_by.nickname }}</td>
      <td>{{ build.builder.name }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
