{% extends "../layout.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block head %}
<script src="/javascript/ajax.js"></script>
{% endblock %}

{% block content %}

<h1>{{ project.name }}</h1>       

<p><a class="nav" href="/projects">« Go back to the list of projects</a>{% if at_least_admin %} | <a class="nav" href="/projects/{{ project.urlname }}/edit">Edit this project</a>{% endif %}</p>

{% if at_least_normal %}
  <h2>New build?</h2>
  <form action="/projects/{{ project.urlname }}/build" method="post">
  <p><label for="version">Version: </label><input type="text" id="version" name="version" value="{{ next_version }}"></p>
  <p><label for="builder">Builder: </label>
  	<select type="text" id="builder" name="builder" value="">
  		{% for builder in builders %}
  		<option value="{{ builder.name }}" {% ifequal last_used_builder.key builder.key %}selected="selected"{% endifequal %}>{{ builder.name }}</option>
  		{% endfor %}
  	</select>
  </p>

  <p><input type="submit" value="Start building"></p>
  </form>

  {% if online_builders %}
  	<h2>Builders</h2>
  	{% for builder in online_builders %}
  	<p>– “{{ builder.name }}” is <span style="color: green">online</span> (last ping {{ builder.since_last_check|revtimedelta }}){% if builder.message_count %} — <b>{{ builder.message_count }} outstanding message(s)</b>{% endif %}</p>
  	{% endfor %}
  {% else %}
  	<h2>No online builders</h2>
  	<p>No builders are currently online.</p>
  {% endif %}
  {% if recent_builders %}
  	<p>Recently went offline:</p>
  	{% for builder in recent_builders %}
  	<p>– “{{ builder.name }}” is <span style="color: red">offline</span> (last ping {{ builder.since_last_check|revtimedelta }}){% if builder.message_count %} — <b>{{ builder.message_count }} outstanding message(s)</b>{% endif %}</p>
  	{% endfor %}
  {% endif %}
{% endif %}

<h2>Last {{ num_latest_builds }} builds</h2>
{% if not latest_builds %}
<p>No builds yet — hit Build to make the first one!</p>
{% endif %}
{% for build in latest_builds %}
<h3><a href="/projects/{{ project.urlname }}/builds/{{ build.urlname }}"><span style="color: {{build.state_color}}">{{ build.version }}</span></a>{% ifequal build.state_name 'inprogress' %} <span style="">(in progress){% endifequal %}{% ifequal build.state_name 'queued' %} <span style="">(waiting for builder){% endifequal %}{% ifequal build.state_name 'abandoned' %} <span style="">(never finished){% endifequal %}</h3>
<p>
  {% ifequal build.state_name 'queued' %}<b style="color: blue;">Queued,</b> waiting for builder… start was{% endifequal %}
  {% ifequal build.state_name 'inprogress' %}<img src="/images/indicator.gif" width="16" height="16"> Building… start was {% endifequal %}
  {% ifequal build.state_name 'abandoned' %}Never finished. Start was{% endifequal %}
  {% ifequal build.state_name 'failed' %}<b style="color: red;">Failed.</b> Start was{% endifequal %}
  {% ifequal build.state_name 'succeeded' %}<b style="color: green;">Succeeded.</b> Start was{% endifequal %}
  <i>{{ build.since_start|revtimedelta }}</i> on {{ build.created_at|date }} — {{ build.created_by.nickname }} — builder {{ build.builder.name }}.</p>
  {% ifequal build.state_name 'failed' %}
    {% if forloop.first %}
      <p>Error:</p>
      <pre style="font: smaller;">{{ build.failure_reason}}</pre>
    {% else %}
      <p>Error summary: {{ build.failure_reason_summary }}</p>
    {% endif %}
  {% endifequal %}
  {% if build.active_message %}
		<pre id="output_{{ build.key.id }}" style="margin: 10px 40px; background: black; color: white; font-size: 9pt; border: 1px dotted white; padding: 10px; height: 200px; overflow-y: scroll;"></pre>
		<script>periodically_update({id: 'output_{{ build.key.id }}', 
			period: 2000, timeout: 15000,
			url: "/messages/{{ build.active_message.key }}/console"});</script>
	{% endif %}
{% if build.stores %}
  <dl>
  {% for store in build.stores %}
    <dt>Download from <b>{{ store.description }}</b>:</dt>
    {% for item in store.items %}
      <dd>
        {% if item.url_location %}
          <a href="{{ item.url_location.path }}"><b>{{ item.description }}</b></a>
        {% else %}
          <b>{{ item.description}}</b>
        {% endif %}
        {% for location in item.other_locations %}
          <div style="font-size: smaller; margin-left: 20px;">{{ location.path }}</div>
        {% endfor %}
      </dd>
    {% endfor %}
  {% endfor %}
  </dl>
{% endif %}
{% endfor %}

{% if recent_builds %}
<h2>Summary of {{ num_recent_builds }} latest builds</h2>
<table border="1" style="border-collapse: collapse;" cellspacing="0" cellpadding="4">
  <tr>
    <th>Version</th>
    <th colspan="2">Date</th>
    <th>Initiated by</th>
    <th>Builder</th>
  </tr>
  {% for build in recent_builds %}
    <tr>
      <td><a href="/projects/{{ project.urlname }}/builds/{{ build.urlname }}"><span style="color: {{build.state_color}}">{{ build.version }}</span></a></td>
      <td>{{ build.since_start|revtimedelta }}</td>
      <td>{{ build.created_at|date }}</td>
      <td>{{ build.created_by.nickname }}</td>
      <td>{{ build.builder.name }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
