<html>
	<head>		
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>			
		<link rel="stylesheet" type="text/css" media="screen,print" href="/media/style.css" />
		<title>{% block title %}(no title!!!!){% endblock %}</title>
		<style>
body { font: 10pt Verdana; }
p { margin-top: 10px; margin-bottom: 0px; }
a.nav, a.nav:visited { color: blue; }
.error { color: red; font-size: smaller; }
#footer { margin-top: 15px; font-size: smaller; }
		</style>
		{% block head %}{% endblock %}
	</head>
	<body>
    
    {% if username %}
      <p>You are signed in as {{ username }} ({{ account.level_name }}) — <a class="nav" href="{{ logout_url }}">sign out</a>.</p>
    {% else %}
      <p>You are not signed in — <a class="nav" href="{{ login_url }}">sign in</a>.</p>
    {% endif %}
    <p><a class="nav" href="/">Home</a>{% if at_least_admin %} | <a class="nav" href="/server-config">Server Configuration</a>{% endif %}</p>
    
    <div id="content">
      {% if flash %}<div style="padding: 10px; margin: 10px 0px; background: silver; font-size: bigger;">{{ flash }}</div>{% endif %}
      {% block content %}{% endblock %}
    </div>
		<div id="footer">
			 &copy; 2008 YourSway LLC
		</div>
	</body>	
</html>